/* основной цвет текста  #212121
вторичный цвет текста #757575
цвет акцента #2196F3
белый текст #FFFFFF
белый цвет с прозрачностью rgba(255, 255, 255, 0.6)
основной цвет фона #F5F5F5
вторичный цвет фона #F5F4FA
акцентный цвет фона #2F303A
цвет кнопки #F5F4FA
акцентный цвет кнопки #2196F3
цвет ховера кнопки #188CE8 */

:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --white-text-rgba: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --white-bg-color: #FFFFFF;
    --accent-bg-color: #2F303A;
    --button-bg-color: #F5F4FA;
    --button-accent: #2196F3;
    --button-hover: #188CE8;
}

body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    text-decoration: none;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header,
.section,
.work,
.portfolio
{
    background-color: var(--white-bg-color);
}

/* header */

.logo{
    color: var(--accent-text-color);
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent{
    color: var(--black-text-color);
}

.nav .list{
    color: var(--primary-text-color);

}

.nav .list:hover,
.nav .list:focus{
    color: var(--accent-text-color);
}

.nav .list.current{
    color: var(--accent-text-color);
}
.nav .list,
.list .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list .link{
    color: var(--secondary-text-color);

}

.list .link:hover,
.list .link:focus{
    color: var(--accent-text-color);
}

/* hero */

.hero{
    background-color: var(--accent-bg-color);
}

.hero-title{
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    color: var(--white-text-color);
    background-color: var(--button-accent);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
}
.button:hover,
.button:focus{
    background-color: var(--button-hover);
}

/* Наші особливості */



.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* Чим ми займаємося */

.work-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
}

/* Наша команда */

.team{
    background-color: var(--secondary-bg-color);
}

.subtitlt{
    font-weight: 500;
}

.desc{
    color: var(--secondary-text-color);
}

.subtitlt,
.desc{
    font-size: 16px;
    line-height: 1.19;
}
.team-picture{
    background-color: var(--white-bg-color);
}


/* Footer */

.footer{
    background-color: var(--accent-bg-color);
}

.footer .logo-accent {
    color: var(--white-text-color);
}

.address .city,
.footer .link-footer
{
    color: var(--white-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    }

.city:hover,
.city:focus {
    color: var(--accent-text-color);
}
   
.footer .link-footer {
    color: var(--white-text-rgba);

}

 /* portflio */

 .portfolio .button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-color: transparent;
}

  .portfolio .button:hover,
  .portfolio .button:focus{
      background-color: var(--button-accent);
      color: var(--white-text-color);
}

.portfolio-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}
